**/*.aux
**/*.bbl
**/*.blg
**/*-blx.bib
**/*.fls
**/__latexindent_temp.tex
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.out
**/*.run.xml
**/*.toc
**/*.fdb_latexmk
**/*.synctex.gz
**/*.synctex(busy)
thesis.pdf
